<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vincent Fajardo | Fullstack Developer</title>
    <link rel="icon" type="image/svg+xml" href="/images/braces.svg" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <ul class="nav">
            <li><a href="/more-projects">More Projects</a></li>
            <li><a href="https://github.com/firstlast-0" target=”_blank” rel="noreferrer">Github</a></li>
            <li><a href="https://www.linkedin.com/in/vin-fajardo" target=”_blank” rel="noreferrer">LinkedIn</a></li>
        </ul>
    </nav>
    <h1>FULLSTACK WEB DEVELOPER</h1>

    <h2><i>My Projects</i></h2>
    <div class="pictures">
        <div>
            <strong>Odin-Book</strong><br>
            Social media type Express app with the following features: users, profiles, followers, posts, comments, likes
            <br><br>
            <div class="links">
                <a href="https://odin-book-production-b92f.up.railway.app/" target=”_blank”>> Live Preview</a>
                <a href="https://github.com/firstlast-0/odin-book" target=”_blank”>> Github Repo</a>
            </div>
        </div>

        <div class="pic1">
            <img src="/images/odin-book.png" alt="admin-dashboard">
        </div>
    </div>
    <br>
    <div class="pictures">
        <div>
            <strong>Admin Dashboard</strong><br>
            Frontend focused project showcasing my CSS capabilities
            <br><br>
            <div class="links">
                <a href="https://firstlast-0.github.io/dashboard/" target=”_blank”>> Live Preview</a>
                <a href="https://github.com/firstlast-0/dashboard" target=”_blank”>> Github Repo</a>
            </div>
        </div>

        <div class="pic1">
            <img src="/images/admin-dashboard.png" alt="admin-dashboard">
        </div>
    </div>
    <br><br>
    <div class="projects">
        <!-- <div>
            <strong>Blog API</strong><br>
            This Jamstack project consists of 1 back-end & 2 front-ends(1 for reading & commenting, 1 for writing & editing blog posts)
            <br><br>
            <div class="links">
                <a href="https://monumental-peony-60273c.netlify.app/" target=”_blank”>> Live Preview</a>
                <a href="https://github.com/firstlast-0/blog-api" target=”_blank”>> Github Repo</a>
            </div>
        </div> -->

        <div>
            <strong>Shopping Cart</strong><br>
            This React project simulates the shopping cart feature on e-commerce websites
            <br><br>
            <div class="links">
                <a href="https://fancy-hamster-3ca8ca.netlify.app/" target=”_blank”>> Live Preview</a>
                <a href="https://github.com/firstlast-0/shopping-cart" target=”_blank”>> Github Repo</a>
            </div>
        </div>

        <div>
            <strong>Todo List</strong><br>
            This app allows users to organize their tasks
            <br><br>
            <div class="links">
                <a href="https://firstlast-0.github.io/todo-list/" target=”_blank”>> Live Preview</a>
                <a href="https://github.com/firstlast-0/todo-list" target=”_blank”>> Github Repo</a>
            </div>
        </div>

        <!-- <div>
            <strong>Inventory App</strong><br>
            This inventory management app utilizes a database which allows users to perform all CRUD operations on items & categories
            <br><br>
            <div class="links">
                <a href="https://inventoryapp-production-4e88.up.railway.app/" target=”_blank”>> Live Preview</a>
                <a href="https://github.com/firstlast-0/inventory_app" target=”_blank”>> Github Repo</a>
            </div>
        </div> -->

        <div>
            <strong>Members Only</strong><br>
            This Express app showcases my ability to give users different abilities and permissions
            <br><br><br>
            <span class="note">NOTE: For faster access, refer to the Accounts section of the README of the repo if you don't feel like signing up</span>
            <br>
            <div class="links">
                <a href="https://members-only-production-dd80.up.railway.app/" target=”_blank”>> Live Preview</a>
                <a href="https://github.com/firstlast-0/members-only" target=”_blank”>> Github Repo</a>
            </div>
        </div>
    </div>
    <a href="/more-projects"><button>MORE</button></a>
    <br><br>

    <h2><i>Development Buddies</i></h2>
    <div class="stack">
        <div>
            <strong>Languages I speak</strong>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>Javascript</li>
            </ul>
        </div>

        <div>
            <strong>Tools & Technologies</strong>
            <ul>
                <li>Git</li>
                <li>React</li>
                <li>Nodejs</li>
                <li>Express</li>
                <li>Mongoose/MongoDB</li>
                <li>EJS</li>
                <li>Webpack</li>
                <li>VSCode + ESlint + Prettier</li>
                <li>Jest</li>
            </ul>
        </div>
    </div>   
</body>
</html>