<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vincent Fajardo | More Projects</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="https://github.com/firstlast-0" target=”_blank” rel="noreferrer">Github</a></li>
            <li><a href="https://www.linkedin.com/in/vin-fajardo" target=”_blank” rel="noreferrer">LinkedIn</a></li>
        </ul>
    </nav>
    <h1>MORE PROJECTS</h1>

    <div class="projects">
        <div>
            <strong>Memory Card</strong><br>
            This React project which utilizes an external API allows users to play a memory game
            <br><br>
            <div class="links">
                <a href="https://quiet-pixie-4e5b8b.netlify.app/" target=”_blank”>> Live Preview</a>
                <a href="https://github.com/firstlast-0/memoryCard" target=”_blank”>> Github Repo</a>
            </div>
        </div>

        <div>
            <strong>Battleship</strong><br>
            This project allows users to play the strategy type guessing game of the same name
            <br><br>
            <div class="links">
                <a href="https://firstlast-0.github.io/battleship/" target=”_blank”>> Live Preview</a>
                <a href="https://github.com/firstlast-0/battleship" target=”_blank”>> Github Repo</a>
            </div>
        </div>

        <div>
            <strong>Weather App</strong><br>
            This project allows users to look up the weather forecast of an area & will react depending on the weather type
            <br><br>
            <div class="links">
                <a href="https://firstlast-0.github.io/weather-app/" target=”_blank”>> Live Preview</a>
                <a href="https://github.com/firstlast-0/weather-app" target=”_blank”>> Github Repo</a>
            </div>
        </div>

        <div>
            <strong>Calculator</strong><br>
            This project allows users to perform basic math operations
            <br><br>
            <div class="links">
                <a href="https://firstlast-0.github.io/odin-calc/" target=”_blank”>> Live Preview</a>
                <a href="https://github.com/firstlast-0/odin-calc" target=”_blank”>> Github Repo</a>
            </div>
        </div>
        
        <div>
            <strong>Etch-a-Sketch</strong><br>
            This app is an implementation of the toy of the same name
            <br><br>
            <div class="links">
                <a href="https://firstlast-0.github.io/odin-sketch/" target=”_blank”>> Live Preview</a>
                <a href="https://github.com/firstlast-0/odin-sketch" target=”_blank”>> Github Repo</a>
            </div>
        </div>
    </div>
</body>
</html>